@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-container-width: 1000px;
  --purple-background: ##1a0f21;
  --linear-dark-gradient: linear-gradient(rgb(58 55 53), rgb(8 9 13));
}

body {
  background: var(--linear-dark-gradient);
}

.nav {
  background: linear-gradient(180deg, #fff 93%, #e1c5daf5 100%);
  border-bottom: 1px solid #fffffff2;
}

.gallery_tabs{
  width: 100%;
  text-align: left;
  background-color: #000e1c;

  .MuiTabs-scroller {
    width: 100%;
    max-width: var(--max-container-width);
    margin: 0 auto;
    padding: 0 15px;
  }
}

.background {
  position: relative;
  width: 100%;
  z-index: -1;
}

.dark-to-light {
  display: inline-block;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    pointer-events: none;
    background-color: #0d142d70;
    transition: background-color 1s;
  }

  &.active::after {
    background-color: transparent;
    transition: background-color 1s;
  }
}

.dark-to-light img {
  display: block;
  height: auto;
}

.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
}

.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(52 52 53 / 0%), rgb(129 66 163 / 35%)),
    url(/CreativeDevStudiosBackground.jpg);
  background-size: cover;
  background-position: 100% 75%;
  z-index: -1;
}

.banner {
  border-bottom: 1px solid #6e6e6e;
  background: linear-gradient(rgb(52 52 53 / 0%), rgb(129 66 163 / 35%)), url(/CreativeDevStudiosBackground.jpg);
  background-size: cover;
  background-position: 100% 70%;
  z-index: -1;
}

.container {
  width: 100%;
  max-width: var(--max-container-width);
  margin: 0 auto;
}

.panel-backgound {
  position: relative;
  background: var(--purple-background);
}

.gallery {
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

.gallery.visible {
  opacity: 1;
  transition: opacity 0.9s ease-in-out;
}

.btn_color_change {

  .icon_button_outlined {
    float: right;
    border: 3px solid #fff;
    border-radius: 300px;
    padding: 2px;
    font-size: 32px;
    transition: color 0.3s, border-color 0.3s;
  }

  &:hover {
    .icon_button_outlined {
        border-color: #ad1457;
    }
  }
}

/* Speed Dial */
.MuiSpeedDial-root {
  .MuiFab-circular{
    width: 45px;
    height: 45px;
  }
  
  .MuiSpeedDialIcon-root{
    color: white;
    z-index: 10;
  }
  
  .MuiButtonBase-root.MuiFab-primary {
    background-color: #5e5e5e;
    padding: 10px;
    height: 45px;
    width: 45px;
    margin: 0 auto;
  }
}

.box-dark-mode {
  background-color: #504b54;
}