@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-container-width: 1000px;
  --purple-background: ##1a0f21;
  --linear-dark-gradient: linear-gradient(rgb(58 55 53), rgb(8 9 13));
}

body {
  background: var(--linear-dark-gradient);
}

.nav {
  background: linear-gradient(180deg, #fff 93%, #e1c5daf5 100%);
  border-bottom: 1px solid #fffffff2;
}

.gallery_tabs{
  width: 100%;
  text-align: left;
  background-color: #000e1c;

  .MuiTabs-scroller {
    width: 100%;
    max-width: var(--max-container-width);
    margin: 0 auto;
    padding: 0 15px;
  }
}

.background {
  position: relative;
  width: 100%;
  z-index: -1;
}

.brand-logo--container {
  position: relative;
}

.brand-logo--images {
  position: relative;
  width: 170px;
  height: 170px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-image: url(/logo/background.svg);
    background-size: cover;
    z-index: 1;
    width: 170px;
    height: 170px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-image: url(/logo/cover.svg);
    background-size: cover;
    z-index: 10;
    width: 170px;
    height: 170px;
  }
}

.brand-logo--mask-layer {
  position: absolute;
  width: 170px;
  height: 170px;
  top: 5px;
  right:0;
  left:0;
  mask-image: url(/logo/mask.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  background: #ffffff;
  z-index: 1;
}

.illuminate {
  position: relative;
  width: 170px;
  height: 170px;
  transition: background-color 1s;
  animation: fadeIn 1s forwards;
  background-color: #676767;

  &.active{
    transition: background-color 1s;
    background-color: #ffe527;
  }
}

.spinner-circle {
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: conic-gradient(#ffe527 40%, #505050 0%);
  transform: rotate(135deg);  
  animation: spin 1.3s steps(2) .2s infinite;
  -webkit-animation: spin 7s linear infinite;
  z-index: 10;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
}

.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(52 52 53 / 0%), rgb(129 66 163 / 35%)),
    url(/CreativeDevStudiosBackground.jpg);
  background-size: cover;
  background-position: 100% 75%;
  z-index: -1;
}

.banner {
  border-bottom: 1px solid #6e6e6e;
  background: linear-gradient(rgb(52 52 53 / 0%), rgb(129 66 163 / 35%)), url(/CreativeDevStudiosBackground.jpg);
  background-size: cover;
  background-position: 100% 70%;
  z-index: -1;
}

.container {
  width: 100%;
  max-width: var(--max-container-width);
  margin: 0 auto;
}

.panel-backgound {
  position: relative;
  background: var(--purple-background);
}

.gallery {
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

.gallery.visible {
  opacity: 1;
  transition: opacity 0.9s ease-in-out;
}

.btn_color_change {

  .icon_button_outlined {
    float: right;
    border: 3px solid #fff;
    border-radius: 300px;
    padding: 2px;
    font-size: 32px;
    transition: color 0.3s, border-color 0.3s;
  }

  &:hover {
    .icon_button_outlined {
        border-color: #ad1457;
    }
  }
}

/* Speed Dial */
.MuiSpeedDial-root {
  .MuiFab-circular{
    width: 45px;
    height: 45px;
  }
  
  .MuiSpeedDialIcon-root{
    color: white;
    z-index: 10;
  }
  
  .MuiButtonBase-root.MuiFab-primary {
    background-color: #5e5e5e;
    padding: 10px;
    height: 45px;
    width: 45px;
    margin: 0 auto;
  }
}

.box-dark-mode {
  background-color: #504b54;
}